.clients .clients__link, .work__title, .features__wrapper, .checkbox__label, .social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title, .work__title, .features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer__list--text, .features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

.checkbox--visually-hidden, .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content, .clients, .team, .work {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.content__item, .work__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #757575;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding: 94px 0;
}
.section--no-padding-top {
  padding-top: 0;
}
.section--team {
  background: #F5F4FA;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.button {
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  letter-spacing: 0.06em;
  box-shadow: rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: #2196F3;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188CE8;
}
.button--form {
  align-self: center;
}

.filter-btn {
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  font-family: inherit;
  color: #212121;
  background: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #FFFFFF;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}
.social-list__link--footer {
  fill: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link--footer:hover, .social-list__link--footer:focus {
  background-color: #2196F3;
}

.social-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #FFFFFF;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #2196F3;
  padding: 16px 0;
}
.logo .logo__dark {
  color: #000000;
}
.logo .logo__light {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1923076923;
    padding: 24px 0 25px 0;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.footer__logo {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0%;
}

.footer-link-location {
  color: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn:hover, .close-btn:focus {
  fill: #188CE8;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form .contact-form__field {
  margin-bottom: 10px;
}
.contact-form .contact-form__field--last {
  margin-bottom: 20px;
}
.contact-form .contact-form__wrapper {
  position: relative;
  display: block;
}
.contact-form .contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form .contact-form__input:focus {
  outline: none;
  border-color: #2196F3;
}
.contact-form .contact-form__key {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: #757575;
}
.contact-form .contact-form__topic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon {
  fill: #2196F3;
}

.contact-form__message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__message:focus {
  outline: none;
  border-color: #2196F3;
}
.contact-form__message::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Checkbox */
.checkbox__label {
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
.checkbox__label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 4px;
}
.checkbox:checked + .checkbox__label::before {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url("../images/modal-icons/choose-mark-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 8px;
}
.checkbox:focus + .checkbox__label::before {
  border: 2px solid #2196F3;
}
.checkbox__label .checkbox__link {
  text-decoration: underline;
  color: #2196F3;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-menu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-nav__link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: #2196F3;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu__bottom-block {
  display: flex;
  flex-direction: column;
  margin-top: 302px;
}

.mobile-menu-social-list__item::after {
  content: "";
  width: 1px;
  height: 22px;
  background-color: black;
  margin-left: 10px;
  flex-shrink: 0;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mobile-menu-contacts__link--marked {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu-social-list {
  display: flex;
  margin-top: 65px;
}

.mobile-menu-social-list__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu-social-list__item:not(:last-child) {
  margin-right: 20px;
}

.nav {
  display: none;
}

.contacts {
  display: none;
}

.header {
  padding-top: 16px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open-btn__icon {
  fill: #000000;
}

.hero {
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #C4C4C4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-main-photo.jpg");
  text-align: center;
  margin: 0 auto;
  max-width: 1600px;
  background-size: cover;
}

.hero__title {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.features__title {
  color: #212121;
  margin-top: 0px;
  margin-bottom: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.features__item {
  margin: 15px;
  flex-basis: calc((100% - 120px) / 4);
}

.features__wrapper {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.work__item {
  position: relative;
}

.work__title {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
}

.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 30px 0;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients .clients__item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}
.clients .clients__link {
  width: 170px;
  height: 92px;
  box-sizing: border-box;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .clients__link:hover, .clients .clients__link:focus {
  border: 1px solid #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: #2196F3;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.content__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content__link:hover, .content__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content__overlay {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content__link:hover .content__overlay, .content__link:focus .content__overlay {
  transform: translateY(0%);
}

.content__wrapper {
  border: 1px solid #ECECEC;
  border-top: none;
  padding: 20px 24px;
}

.content__block {
  position: relative;
  overflow: hidden;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}
.footer__item {
  font-style: normal;
}
.footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
}
.footer__title {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__link--location {
  color: #FFFFFF;
}
.footer__link--location:hover, .footer__link--location:focus {
  color: #FFFFFF;
}

.address-block {
  margin-right: 70px;
}

.subscription {
  margin-left: auto;
}

.subscription__input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  margin-right: 12px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__wrapper {
  display: flex;
  align-items: center;
}

.subscription__icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.button--subscription {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
}/*# sourceMappingURL=main.css.map */